# Core functionality - changes here should be rare!
/src/app.py                   @Suvoji01
/src/backend/database.py      @Suvoji01
/src/backend/routers/auth.py  @Suvoji01

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Suvoji01
